@use "@assets/styles/variables" as *;

.meli-button {
  border: 1px solid $border-light;
  border-radius: $spacing-sm;
  padding: $spacing-md;
  font-size: $font-size-md;
  min-width: 200px;
  cursor: pointer;

  //* temp colors
  background-color: $border-grey;
  &:hover {
    background-color: gainsboro;
  }

  &--primary {
    background-color: $button-primary-bg;
    color: $button-primary-text;
    border: none;
    &:hover {
      background-color: darken($button-primary-bg, 10%);
    }
  }

  &--secondary {
    background-color: $button-secondary-bg;
    color: $button-secondary-text;
    border: none;
    &:hover {
      background-color: darken($button-secondary-bg, 10%);
    }
  }
}