@use "@assets/styles/variables" as *;
@use "@assets/styles/mixins" as *;

.header {
  box-sizing: border-box;
  width: 100%;
  padding: $spacing-sm $spacing-md;
  background-color: $primary-color;
  border-radius: $border-radius-md;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__logo {
      height: 44px;
      width: auto;
    }
  }
}
