@use "@assets/styles/variables" as *;

.update-contact-data-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  padding: $spacing-md;
  gap: 5%;

  &__info {
    text-align: center;
    font-size: $font-size-xl;
    color: $text-secondary-color;
    &-text {
      margin: $spacing-xs 0;
    }
  }
}